apiVersion: catalog.kubevault.com/v1alpha1
kind: VaultServerVersion
metadata:
  name: '1.7.2'
  labels:
    {{- include "kubevault-catalog.labels" . | nindent 4 }}
spec:
  exporter:
    image: '{{ include "image.ghcr" (merge (dict "_repo" "kubevault/vault-exporter")
      $) }}:v0.1.1'
  stash:
    addon:
      backupTask:
        name: vault-backup-1.10.3
      restoreTask:
        name: vault-restore-1.10.3
  unsealer:
    image: '{{ include "image.ghcr" (merge (dict "_repo" "kubevault/vault-unsealer")
      $) }}:v0.16.0'
  vault:
    image: '{{ include "image.dockerLibrary" (merge (dict "_repo" "vault") $) }}:1.7.2'
  version: 1.7.2
