{{ $ubi := .Values.distro.ubi }}
{{- if .Values.global }}
  {{ $ubi = default .Values.distro.ubi .Values.global.distro.ubi }}
{{- end }}

{{ if (not (eq $ubi "operator")) }}
apiVersion: catalog.kubevault.com/v1alpha1
kind: VaultServerVersion
metadata:
  name: '1.6.5'
  labels:
    {{- include "kubevault-catalog.labels" . | nindent 4 }}
spec:
  distribution: Vault
  exporter:
    image: '{{ include "image.ghcr" (merge (dict "_repo" "kubevault/vault-exporter") $) }}:v0.1.1'
  initContainer:
    image: '{{ include "image.dockerLibrary" (merge (dict "_repo" "busybox") $) }}'
  stash:
    addon:
      backupTask:
        name: vault-backup-1.10.3
      restoreTask:
        name: vault-restore-1.10.3
  unsealer:
    image: '{{ include "image.ghcr" (merge (dict "_repo" "kubevault/vault-unsealer") $) }}:v0.23.0{{ include "catalog.ubi" $ }}'
  vault:
    image: '{{ include "image.ghcr" (merge (dict "_repo" "appscode-images/vault") $) }}:1.6.5'
  version: 1.6.5
{{ end }}
