apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: products.products.x-helm.dev
spec:
  group: products.x-helm.dev
  names:
    kind: Product
    listKind: ProductList
    plural: products
    singular: product
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              badges:
                items:
                  properties:
                    alt:
                      type: string
                    logo:
                      type: string
                    url:
                      type: string
                  required:
                  - alt
                  - logo
                  - url
                  type: object
                type: array
              description:
                type: string
              icons:
                items:
                  properties:
                    description:
                      type: string
                    size:
                      type: string
                    src:
                      type: string
                    type:
                      type: string
                  required:
                  - src
                  type: object
                type: array
              id:
                type: string
              key:
                type: string
              keywords:
                items:
                  type: string
                type: array
              latestVersion:
                type: string
              links:
                items:
                  properties:
                    description:
                      type: string
                    url:
                      type: string
                  type: object
                type: array
              maintainers:
                items:
                  properties:
                    email:
                      type: string
                    name:
                      type: string
                    url:
                      type: string
                  type: object
                type: array
              name:
                type: string
              owner:
                format: int64
                type: integer
              ownerName:
                type: string
              phase:
                type: string
              shortName:
                type: string
              summary:
                type: string
              tagline:
                type: string
              unitLabel:
                type: string
              versions:
                items:
                  properties:
                    releaseDate:
                      format: date-time
                      type: string
                    version:
                      type: string
                  required:
                  - version
                  type: object
                type: array
            required:
            - id
            - key
            - name
            - owner
            - phase
            - shortName
            - tagline
            type: object
          status:
            properties:
              observedGeneration:
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
