# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Overrides name template
nameOverride: ""
# Overrides fullname template
fullnameOverride: ""

proxies:
  dockerHub: ""
  dockerLibrary: ""
  ghcr: ghcr.io
  quay: quay.io
  kubernetes: registry.k8s.io
  microsoft: mcr.microsoft.com
  appscode: r.appscode.com
  weaviate: cr.weaviate.io

# Set true to avoid deploying deprecated versions
skipDeprecated: true

distro:
  openshift: false
  ubi: ""
