apiVersion: v2
name: kubevault
description: KubeVault by AppsCode - HashiCorp Vault operator for Kubernetes
type: application
version: v2026.1.8-rc.0
appVersion: v2026.1.8-rc.0
kubeVersion: '>=1.28.0'
annotations:
  charts.openshift.io/name: kubevault
home: https://kubevault.com
icon: https://cdn.appscode.com/images/products/kubevault/kubevault-icon.png
sources:
- https://github.com/kubevault
maintainers:
- name: appscode
  email: support@appscode.com
dependencies:
- name: kubevault-crds
  repository: file://../kubevault-crds
  version: v2026.1.8-rc.0
  condition: kubevault-crds.enabled
- name: kubevault-catalog
  repository: file://../kubevault-catalog
  version: v2026.1.8-rc.0
  condition: kubevault-catalog.enabled
- name: kubevault-operator
  repository: file://../kubevault-operator
  version: v0.24.0-rc.0
  condition: kubevault-operator.enabled
- name: kubevault-webhook-server
  repository: file://../kubevault-webhook-server
  version: v0.24.0-rc.0
  condition: kubevault-webhook-server.enabled
- name: ace-user-roles
  repository: oci://ghcr.io/appscode-charts
  condition: ace-user-roles.enabled
  version: v2025.3.14
